@import '../global';

.titlebar {

    h1 {
        font-size: 1.5em;
        margin: 2em 0;
        margin-bottom: .5em;
        @include phoneMediaSearch {
            font-size: 1.3em;
            margin-top: 12px;
        }
    }
    margin-bottom: 16px;

}

p.composeTime {
    @include globalFonts;
    margin-bottom: 2.5em;
    text-align: right;
    color: lighten($articleColor, 35%);
    font-size: $fontSize - 2px;
    // text-shadow: 0 5px 10px rgba(0, 0, 0, .15);
}

hr {
    margin: 1em 30%;
    margin-top: 3em;
    height: 1px;
    border: none;
    background-color: lighten($articleColor, 55%);
    box-shadow: 0 2px 10px lighten($articleColor, 30%);
}

#disqus_thread {
    text-align: center;
}

.article {

    color:$articleColor;
    // text-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    font-weight: normal;
    margin-top: 37px;

    * {
        max-width: 100%;
    }

    img, video, audio, canvas, iframe, frame {
        margin: 0 auto;
        display: block;
    }

    img, video, canvas {
        max-height: 320px;
    }

    a {
        text-decoration: none;
        color: $linkColor;
        transition: .2s linear;
        text-shadow: 0 2px 5px rgba(red($linkColor), green($linkColor), blue($linkColor), .05);
        font-weight: 400;
        
        img {
            display: inline-block;
        }

        &:hover {
            color: darken($articleColor, 5%);
            text-shadow: 0 2px 4px rgba(0, 0, 0, .2);
        }

    }


    h1, h2, h3, h4, h5 {
        font-weight:bold;
        color: darken($articleColor, 5%);
    }

    h1, h2, h3 {
        margin-top: 2em;
    }
    
    li, tr {
        line-height: 2;
    }

    li {
        line-height: 2;
        font-size: 14px;
        @include phoneMedia {
            font-size: 12px;
        }
    }

    ul {
        @include phoneMedia {
            padding-left: 20px;
        }
    }
    
    table {
        
        display: block;
        overflow: auto;
        border-radius: 8px;
        
        tr {
            text-align: center;
            white-space: pre;
            &:nth-child(2n) {
                background: #CCC;
            }
        }

        td, th {
            padding: 0 18px;
        }

        thead tr {
            background: #888;
            color: #DDD;
        }
        
    }

    p {
        font: inherit;
        line-height: 2;
        vertical-align: center;
        font-size: $fontSize;
        font-weight: 300;
        /* font-family: sans-serif; */
        @include phoneMediaSearch {
            font-size: 14px;
        }
    }

    p > code {
        font-size: $fontSize - 4px;
        height: $fontSize;
        line-height: $fontSize;
        padding: 2px 5px;
        border-radius: 2px;
        background-color: $codeBack;
        color: $codeColor;
    }

    blockquote {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
        margin: 2em 0;
        padding: 10px 30px;
        // border-radius: 5px;

        // color: $codeColor;
        // background-color: $codeBack;
        color: $codeBack;

        p {
            color: inherit;
            margin: 0 0;
        }

        a:hover {
            // color: lighten($codeColor, 5%);
            color: lighten($codeBack, 5%);
        }

        @include phoneMediaSearch {
            font-size: 12px;
            padding: 2px 10px;
            p {
                line-height: 1.4;
            }
        }

    }

    pre {

        position: relative;
        @include phoneMediaSearch {
            font-size: 12px;
        }

        &:before {
            content: "code";
            display: block;
            position: absolute;
            top: 13px;
            right: 15px;
            padding: 1px 5px;
            background: #888;
            border-radius: 3px;
            font-size: 12px;
            color: #fff;
            z-index: 1;
            @include phoneMediaSearch {
                top: 11px;
            }
        }

    }

    pre code.hljs {

        position: relative;
        border-radius: 4px;
        margin: 1em 0;
        padding: 1em 2em;
        line-height: 1.3em;
        counter-reset: codeline;
        background-color: #556;
        -webkit-overflow-scrolling: touch;

        cbr:before {
            color: #888;
            display: inline-block;
            counter-increment: codeline;
            content: counter(codeline) "." ;
            min-width: 25px;
            margin-left: -15px;
            margin-right: 5px;
            text-align: right;
            transition: .2s linear;
        }
        
        cbr:hover::before {
            color: white;
        }        
        
    }

}

.pagenav {

    margin: 2em 0;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    
    svg {
        height: 37px;
        margin-top: 1px;
        width: 24px;
        @include phoneMediaSearch {
            height: 35px;
            margin-top: 2px;
            width: 20px;
        }
    }

    a {
        color: lighten($articleColor, 30%);
        text-decoration: none;
        font-weight: bold;
        display: inline-flex;
        max-width: 40%;
        @include phoneMediaSearch {
            max-width: 47%;
            font-size: $fontSize - 2px;
        }
        position: relative;
        transition: .2s linear;
        border-radius: 3px;
        text-shadow: 0 5px 10px rgba(0, 0, 0, .15);

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            line-height: 40px;
        }

        &.left:not(.no) {
            padding-right: 12px;
            svg {
                margin-left: 4px;
            }
        }

        &.right {
            &:not(.no) {
                padding-left: 12px;
                svg {
                    margin-right: 4px;
                }
            }
            text-align: right;
        }

        &:hover {
            background-color: lighten($articleColor, 30%);
            color: lighten($bgColor, 5%);
            text-shadow: none;
            box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
        }

    }

}
